<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  {% load static %}
  <link rel="stylesheet" href="{%static 'mystyle.css'%}">
  <title>{% block title %}Project Allocation Engine{% endblock %}</title>
</head>
<body>
	{% block header %}
		<div class="header">
			<h1>Capstone Project Allocation Engine</h1>
		</div>
	{% endblock %}
		{% if user.is_authenticated %}
		<div class = sidebar>
			<a href="{% url 'home' %}">Home</a>
			{% if user.profile.identity == 1 %}
				<a href="">Project Allocation(TODO)</a>
				<a href="{% url 'index' %}">Project List</a>
			{% elif user.profile.identity == 2 %}
				<a href="{% url 'create' %}">Create Project</a>
				<a href="{% url 'myprojects' %}">My Projects</a>
			{% elif user.profile.identity == 3 %}
				<a href="{% url 'index' %}">Project List</a>
				<a href="">EOI(TODO)</a>
				<a href="">My Project(TODO)</a>
			{% endif %}
			<p><a href="{% url 'logout' %}">Log Out</a></p>
			<p><a href="{% url 'password_reset' %}">Reset Password</a></p>
		</div>
		{% endif %}
  <main>
	<div class = "body">
    {% block content %}
    {% endblock %}
	</div>
  </main>
</body>
</html>
