<!-- templates/eoi_details.html -->
{% extends 'base.html' %}
{% block content %}
<section class="ProCon Huans">
    {% if projects == None %}
    <div class="ProTitH flexC fl-cen">
        <div class="ProTit Huans ProTits flexC">
            <i class="flexC fl-bet"></i><p>My EOI</p><i class="flexC fl-bet"></i>
        </div>
    </div>
    <p>There is no EOI at the moment</p>
    {% else %}
    <div class="ProTitH flexC fl-cen">
        <div class="ProTit Huans ProTits flexC">
            <i class="flexC fl-bet"></i><p>My Team Members</p><i class="flexC fl-bet"></i>
        </div>
    </div>
    {% for member in team_members %}
    <div class="ProConN Huans">
        <li><a>{{ member }}</a></li>
    </div>
    {% endfor %}
    <div class="ProTitH flexC fl-cen">
        <div class="ProTit Huans ProTits flexC">
            <i class="flexC fl-bet"></i><p>My EOI</p><i class="flexC fl-bet"></i>
        </div>
    </div>
    {% for project in projects %}
        <div class="ProTit Huans ProTits flexC">
        <li><a href="{% url 'detail' project.id %}">{{ project }}</a></li>
        </div>
    {% endfor %}
    {% endif %}
    <ul class="ProConU">
				<li>
					<a href="{% url 'eoi' %}" class="ProTit Huans ProTita flexC">
						<i class="flexC fl-bet"></i><p>Submit a new EOI</p><i class="flexC fl-bet"></i>
					</a>
				</li>
			</ul>
</section>
{% endblock %}
