<!-- templates/modify.html -->
{% extends 'base.html' %}
{% block content %}
<section class="ProCon Huans">
    {% if project.sponsor_id == user.profile %}
    <form  method="post", class = "eleFor">
	    {% csrf_token %}
        {% for i in form %}
        <div class="eleForD eleTit Huans flexC fl-bet">
            <div class="eleForP">{{i.label}}</div>
            {{i}}
        </div>
        {% endfor %}
        <a><input type="submit" class="eleFora Huans flexC" value="Submit" style="width:100%"></a>
    </form>
    {% elif user.profile.identity == 1 %}
    <form  method="post", class = "eleFor">
	    {% csrf_token %}
        {% for i in form %}
        <div class="eleForD eleTit Huans flexC fl-bet">
            <div class="eleForP">{{i.label}}</div>
            {{i}}
        </div>
        {% endfor %}
        <a><input type="submit" class="eleFora Huans flexC" value="Submit" style="width:100%"></a>
    </form>
    {% else %}
        <p> You are not authorised </p>
    {% endif %}
</section>
{% endblock %}
