/*通用*/
*{
	margin:0px; 
	padding:0px; 
	font-weight:normal;
}
body{
	font-family:"microsoft yahei", Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color:#FFF;
	color:#333;  
	min-width:1280px;
}
a{
	text-decoration:none;  
	text-shadow:none;
	font-weight:normal;
}
ul{
	list-style:none;
}
textarea,input,button{
	outline:none;
	-webkit-appearance:none;
	font-family:Microsoft YaHei;
}
.clear{ 
	clear:both; 
	overflow:hidden; 
	height:0px;
}
img{ 
	border:0; 
	display:block; 
	width:100%
}
input[type="button"],
input[type="checkbox"],
input[type="radio"], input[type="submit"],
input[type="reset"],select {
	-webkit-appearance: none;
	outline:none;
	border:none;
	font-family:Microsoft YaHei;
}

.flex{
	display:-webkit-box;
	display: -ms-flexbox;
	display:flex;
	flex-wrap:wrap;
	align-items:flex-start;
}
.flexC{
	display:-webkit-box;
	display: -ms-flexbox;
	display:flex;
	align-items:center; 
	flex-wrap:wrap;
}
.fl-bet{
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content:space-between;
}
.fl-cen{
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content:center;
}
.fl-end{
	-webkit-box-pack:right;
	-ms-flex-pack:right;
	justify-content:flex-end;
}
.Huans {
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.ward{
	width:1200px;
	margin:0 auto;
}
.ProHd{ 
	height:238px;
	width:100%; 
	background:linear-gradient(to right,#0386e3,#1779be)
}
.ProHdL{ 
	padding-top: 12px;
}
.ProHdLa{
	width:78px;
	height:32px;
	line-height:32px;
	border-radius:3px;
	text-align: center;
	display: block;
	background:#f7f7f7; 
	border:1px solid #d3d3d3; 
	font-size: 14px; 
	color:#343434;
}
.ProHdLa:hover{ 
	background:#2472aa;
	color:#FFF;
}
.ProHdN{
	width:412px;
	height:102px;
	border:1px solid #FFF;
	margin:50px auto 0;
	align-content:center; 
	background: rgba(255,255,255,0.23);}
.ProHdN p{ 
	font-size:20px; 
	line-height:30px;
	text-align: center;
	color:#FFF;
}
.ProK{
	padding:50px 0;
}

.ProNav{ 
	width:260px;
}
.ProNava{ 
	width: 100%;
	height:60px;
	border-radius:7px;
	align-content:center;
	background:#fff;
	color:#2472aa; 
	font-size: 22px;
	border:1px solid #2472aa;
	margin-bottom: 50px;
}
.ProNav .on{
	border:none; 
	color:#FFF;
	background:linear-gradient(to right,#0386e3,#1779be)
}
.ProCon{
	width:900px;
}
.ProTit{ 
	position:relative;
	width:280px;
	line-height:60px; 
	font-size:20px; 
	color:#343434;
}
.ProTit p{
	padding:0 15px; 
	width:200px;
}

.ProTit i{
	width:18px; 
	height: 20px;
}
.ProTit i:before,
.ProTit i:after{
	display:block;
	content:'';
	height:100%;  
	background:#2472aa;
}
.ProTit i:before{
	width:4px;
}
.ProTit i:after{
	width:8px;
}
.ProTit i:last-child{
	right:0;transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-ms-transform: rotate(180deg);
}
.ProTits{ 
	text-align: center;
	padding:0 45px; 
	width:auto; 
	margin:0 auto;
}
.ProTits p{
	padding:0 25px;
	width:auto;
}

.ProConN{ 
	color:#343434; 
	font-size: 16px;
	line-height:30px; 
	padding:20px 0; 
}
.ProTita{ 
	margin-bottom:8px;
}
.PromyU .ProTit p{
	width:auto;
}
/****************
-------登录------
****************/
.logdk{
	width:100%;
	height:100%;
	background:#2472aa;
	align-content:center
}
.logHd{ 
	font-size:20px;
	line-height:48px;
	height: 48px;
	text-align: center;
	width:100%;
	position: fixed;
	top:0;
	left:0; 
	color:#f9fcff; 
	background:rgba(255,255,255,0.14);
}
.logCon{ 
	width:460px;
	height:410px;
	background:#b8dbed;
	border-radius:7px;
	overflow: hidden;}
.logConT{ 
	font-size:20px;
	text-align: center;
	color:#f2f6fc; 
	width:100%;
	line-height:60px;
	background:#015b8a;
}
.logFor{ 
	width: 100%;
	padding:30px 40px 0;
}
.logForD{
	background:#f2f6fc;
	width:100%;
	margin-bottom:63px;
	border:1px solid #97a8b4;
	height: 50px;
}
.logFor .logForD:first-child{
	margin-bottom: 45px;
}
.logForI{ 
	padding:0 20px; 
	line-height:30px;
	height: 30px;
	background:#f2f6fc;
	border:none;
	font-size:18px;
	color:#333;
	width:100%; 
	display: block;
}
.logFora{
	color:#f2f6fc; 
	text-align: center; 
	background:#015b8a; 
	display:block;
	width:100%;
	line-height:50px; 
	height: 50px; 
	border-radius:7px; 
	font-size:18px; 
	margin-top: 15px;
}
/************************/
.ProTab{ 
	border:1px solid #b6c5dc;
	width:100%;
}
.ProTab tr td{
	border-top:2px solid #b6c5dc;
	border-left:2px solid #b6c5dc; 
	color:#343434; 
	font-size:18px;
	line-height:30px; 
	padding:13px 33px;
}
.ProTab tr td:first-child{
	border-left:none; 
	text-align: center;
}
.ProTab tr:first-child td{
	border-top:none;
}
.ProTab tr:nth-child(2n+1) td{
	background:#d9e2f3;
}
.ProTab p{ 
	position:relative;
	margin:7px 0; 
	width:100%;
}
.ProTab p:before{
	display:block;
	content:'';
	position: absolute; 
	width: 8px; 
	height: 8px;
	background:#508ebb;
	border-radius:50%;
	transform: translate(0,-50%);
	top:50%; 
	left:-20px; 
}


/***********************/
.TenConU{width:100%;}
.TenConU .ProTit{
	margin:0 auto;
	text-align: center;
}
.TenConU .ProTit p{
	padding:0 15px;
	width:auto;
	min-width:140px;
}
.TenConN{
	width:200px;
	margin:20px auto 60px;
}
.TenConNa{
	padding-left: 22px;
	position: relative;
	line-height:30px;
	display: block;
	font-size:18px;
	color:#343434;
}
.TenConNa:before{
	display:block;
	content:'';
	position: absolute;
	background:#0082e0;
	width: 6px;
	height:6px;
	transform: translate(0,-50%);
	left:0;
	top:50%;
}
/***********************/
.eleDK{
	padding:10px 0 80px;
	width:100%;
}
.eleTit{
	text-align: center;
	margin:0 auto;
}
.eleDK .eleTit p{
	min-width:150px;
}
.eleFor{
	width:480px;
	margin:50px auto 0;
}
.eleForD{width:100%; margin-bottom:15px;
}
.eleForP{
	font-size:18px;
	color:#343434;
	line-height:30px;
	margin-right:15px;
}
.eleForI{
	width:100%;
	padding:0 24px;
	height:56px;
	line-height:56px;
	font-size:18px;
	color:#343434;
	background:#ededed;
	border-radius:4px;
	display: block;
	flex:1;
	border:none;
}

.eleFora{
	background:#1983d1;
	color:#FFF;
	border-radius:4px;
	display: block;
	height:56px;
	line-height:56px;
	text-align:center;
	font-size:22px;
	margin-top:60px;
}
.eleFora:hover{
	background:#2472aa;
}
/********************************/

.ProJe{
	padding-top:20px;
}
.JesTab{
	border:1px solid #b6c5dc;
	width:100%;
}
.JesTab tr th{
	border-left:2px solid #b6c5dc;
	background:#2472aa;
	color:#FFF;
	font-size:18px;
	line-height:30px;
	padding:13px 33px;
}
.JesTab tr th:first-child{
	border-left:none;
}
.JesTab tr td{
	border-top:2px solid #b6c5dc;
	border-left:2px solid #b6c5dc;
	color:#343434;
	font-size:18px;
	line-height:30px;
	padding:13px 33px;
}
.JesTab tr td:first-child{
	border-left:none;
	text-align: center;
}
.JesTab tr:first-child td{
	border-top:none;
}
.JesTab tr:nth-child(2n) td{
	background:#e8effb;
}
.JesTab tr:nth-child(2n+1) td{
	background:#d9e2f3;
}

